.navbar-light .navbar-brand {
    color:black;
}

.silvertextcolor {
    color: silver;
}

.vert-photo {
    width: 15rem;
    height: auto;
}
  

.robscustomautocenter {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body{
    background-image: url("luca-bravo-XJXWbfSo2f0-unsplash.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textcolor{
    color:rgb(190, 16, 16);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid rgb(7, 7, 7); /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:green;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #0303035e;
    padding: 20px;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .white_bg 
{
    background-color: #413e3e;
    padding: 3px; /*add this if you want a bit of space around the text*/
}
